body {
  font-family: 'Open Sans', sans-serif; }

.header {
  background-image: url(../media/inicio.png);
  margin-top: 25px;
  width: 100%;
  height: 500px;
  padding-top: 20px;
  margin-bottom: 15px; }

a {
  padding-left: 1rem; }

.links {
  color: #FFFFFF;
  padding-left: 4px; }

.tittle {
  text-align: center;
  color: #F8F1F1;
  padding-top: 200px;
  font-size: 45px;
  font-style: italic;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 13px; }

.bg-color {
  background-color: #000000; }

.logoProyecto {
  border-radius: 100%;
  height: 70px;
  width: 90px; }

ul {
  list-style-type: none; }

li {
  padding: 0 30px; }

p {
  color: solid #000000;
  margin-top: 24px;
  margin-bottom: 24px; }

.encabezado {
  widht: 100%;
  height: 75px;
  text-align: center;
  font-size: 26px;
  color: white;
  letter-spacing: 5px;
  background: #eeeeee;
  background: linear-gradient(108deg, #eeeeee 0%, #252526 16%, black 71%, #eeeeee 100%);
  font-style: italic;
  padding-top: 12px;
  margin-top: 16px; }

.imgC {
  width: 100%;
  height: 475px;
  margin-top: 0px;
  margin-bottom: 30px; }

.img {
  width: 100%;
  border: 10px solid #232323;
  margin-bottom: 25px; }

.centrado {
  margin-left: 250px;
  margin-right: 300px; }

.textoMain {
  margin-top: 10px;
  text-align: center; }

.editRedes {
  height: 26px;
  width: 24px;
  margin-right: 5px; }

.logos {
  width: 40px;
  height: 40px;
  margin-left: 9px; }

#footer {
  background-image: url(../media/fondo2do.jpeg);
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  margin-top: 20px;
  background-color: #0C4271;
  color: #171717; }

/*Css Nosotros*/
.info {
  line-height: 1.8; }

.titulosN {
  text-decoration: underline;
  color: #548CA8;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 3rem; }

/*Css Contacto*/
.headerOtherSections {
  background-image: url(../media/inicio.png);
  margin-top: 10px;
  width: 100%;
  height: 500px;
  padding-top: 35px;
  margin-bottom: 15px; }

.text {
  text-align: center; }

.textDatos {
  text-align: center;
  font-size: 17px;
  font-weight: bold; }

.fondo {
  background-color: #0C4271;
  color: white;
  padding: 30px;
  text-align: center; }

.newsletter {
  border: 10px solid #0C4271;
  margin-left: 150px;
  margin-right: 150px;
  background-color: #171717;
  color: #F9F9F9; }

.textoDatos {
  text-transform: uppercase;
  font-size: 19px;
  border: 7px solid #0C4271;
  margin-left: 150px;
  margin-right: 150px;
  background-color: #171717;
  color: #F9F9F9; }

.imgLogos {
  height: 20px; }

.imgLogos:hover {
  cursor: pointer;
  transform: translateY(-4px);
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1); }

.inputConsulta {
  border: 7px solid #0C4271;
  padding: 50px;
  width: 80%;
  margin-bottom: 30px;
  border-top-width: 20px;
  border-bottom-width: 20px;
  border-right-width: 15px;
  border-left-width: 15px; }

input {
  background: #171717;
  color: #F9F9F9;
  transition: width 10s; }

input:hover {
  cursor: pointer;
  transform: translateX(-2px);
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1); }

/*Mobile Styles*/
@media only screen and (max-width: 768px) {
  .logoProyecto {
    border-radius: 100%; }
  .navbar {
    background-color: #000000; }
  .rounded-circle {
    color: transparent; }
  img {
    height: 50px;
    width: 100%; }
  .img {
    height: 145px;
    width: 100%; }
  .imgLogos {
    height: 33px;
    width: 23px; }
  p {
    font-size: 14px;
    text-align: left; }
  h1 {
    font-size: 29px; }
  .tittle {
    text-align: center;
    color: #000000;
    padding-top: 200px;
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase; }
  .encabezado {
    widht: 100%;
    height: 90px;
    text-align: center;
    font-size: 26px;
    color: white;
    letter-spacing: 5px;
    background: #eeeeee;
    background: linear-gradient(108deg, #eeeeee 0%, #252526 16%, black 71%, #eeeeee 100%);
    font-style: italic;
    padding-top: 12px;
    margin-top: 16px; }
  .newsletter {
    align-content: start;
    text-align: left;
    width: 100%; }
  #footer {
    height: 100px; } }
